/* 遮盖层 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2); /* 半透明黑色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 水平偏移量，垂直偏移量，模糊半径，阴影颜色 */
.shadow-down {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* 强制英文断句并换行 */
.break-all-words {
  word-break: break-all;
  overflow-wrap: break-word;
}
